$body-background-color: #e9eaed;
$header-background-color: #3b5998;
$header-border-color: #29487d;

$layout-width-full-size: 1012px;
$full-width: 100%;

$font-primary: "Helvetica Neue", Helvetica, Arial, sans-serif;

$max-width: 750px;
$min-width: $max-width - 1;